<div class='progress-msg'>Wed, 27 Jan 2021 14:58:27 +0000</div>
<div class='progress-msg'>[14:58:27] Composing titles...</div>
<div class='progress-msg'>[14:58:27] Composing excerpts...</div>
<div class='progress-msg'>[14:58:27] Composing duplicate indicators...</div>
<div class='progress-msg'>[14:58:27] Composing authors...</div>
<div class='progress-msg'>[14:58:27] Composing slugs...</div>
<div class='progress-msg'>[14:58:27] Composing menu order...</div>
<div class='progress-msg'>[14:58:27] Composing contents...</div>
<div class='progress-msg'>[14:58:27] Composing dates...</div>
<div class='progress-msg'>[14:58:27] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[14:58:27] Composing terms for `Regions` taxonomy...</div>
<div class='progress-msg'>[14:58:27] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[14:58:27] Composing terms for `Custom Taxonomy: Car Brand` taxonomy...</div>
<div class='progress-msg'>[14:58:27] Composing terms for `Custom Taxonomy: Vacancy type` taxonomy...</div>
<div class='progress-msg'>[14:58:27] Composing terms for `Custom Taxonomy: Qualification` taxonomy...</div>
<div class='progress-msg'>[14:58:27] Composing terms for `Custom Taxonomy: Salary` taxonomy...</div>
<div class='progress-msg'>[14:58:27] Composing custom parameters...</div>
<div class='progress-msg'>[14:58:27] Composing URLs for images...</div>
<div class='progress-msg'>[14:58:27] Composing URLs for attachments files...</div>
<div class='progress-msg'>[14:58:27] Composing post comments...</div>
<div class='progress-msg'>[14:58:27] Composing unique keys...</div>
<div class='progress-msg'>[14:58:27] Processing posts...</div>
<div class='progress-msg'>[14:58:27] Data parsing via add-ons...</div>
<div class='progress-msg'>[14:58:27] ---</div>
<div class='progress-msg'>[14:58:27] Record #1</div>
<div class='progress-msg'>[14:58:27] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:58:27] Combine all data for post `Window 1`...</div>
<div class='progress-msg'>[14:58:27] Find corresponding article among previously imported for post `Window 1`...</div>
<div class='progress-msg'>[14:58:27] Duplicate post wasn't found with unique key `import 2020-27-1`...</div>
<div class='progress-msg'>[14:58:27] Applying filter `pmxi_article_data` for `Window 1`</div>
<div class='progress-msg'>[14:58:27] <b>CREATING</b> `Window 1` `Listing`</div>
<div class='progress-msg'>[14:58:27] Associate post `Window 1` with current import ...</div>
<div class='progress-msg'>[14:58:27] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[14:58:27] - Searching for existing image `https://preprod.curbmatch.com/wp-content/uploads/2020/12/sign-bot-right.png` by URL...</div>
<div class='progress-msg'>[14:58:27] - Searching for existing image `https://preprod.curbmatch.com/wp-content/uploads/2020/12/sign-bot-right.png` by `_wp_attached_file` `sign-bot-right.png`...</div>
<div class='progress-msg'>[14:58:27] - Existing image was found by `_wp_attached_file` ...</div>
<div class='progress-msg'>[14:58:27] - Searching for existing image `https://preprod.curbmatch.com/wp-content/uploads/2020/12/sign-bot-right.png` by `_wp_attached_file` `sign-bot-right.png`...</div>
<div class='progress-msg'>[14:58:27] - Existing image was found by `_wp_attached_file` ...</div>
<div class='progress-msg'>[14:58:27] - Searching for existing image `https://preprod.curbmatch.com/wp-content/uploads/2020/12/freelancer-4.png` by `_wp_attached_file` `freelancer-4.png`...</div>
<div class='progress-msg'>[14:58:27] - Existing image was found by `_wp_attached_file` ...</div>
<div class='progress-msg'>[14:58:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:58:27] - Custom field `_claimed` will be updated with value `0` for post `Window 1` ...</div>
<div class='progress-msg'>[14:58:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:58:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:58:27] - Custom field `_featured` will be updated with value `0` for post `Window 1` ...</div>
<div class='progress-msg'>[14:58:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:58:27] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:58:27] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[14:58:27] - Importing taxonomy `job_listing_category` ...</div>
<div class='progress-msg'>[14:58:27] - Attempted to create parent Listing job_listing_category `Windows`, duplicate detected. Importing Listing to existing `Windows` job_listing_category, ID 119, slug `windows` ...</div>
<div class='progress-msg'>[14:58:27] - Importing taxonomy `region` ...</div>
<div class='progress-msg'>[14:58:27] - Importing taxonomy `case27_job_listing_tags` ...</div>
<div class='progress-msg'>[14:58:27] - Importing taxonomy `custom-taxonomy-car-brand` ...</div>
<div class='progress-msg'>[14:58:27] - Importing taxonomy `job-vacancy-type` ...</div>
<div class='progress-msg'>[14:58:27] - Importing taxonomy `job-qualification` ...</div>
<div class='progress-msg'>[14:58:27] - Importing taxonomy `job-salary` ...</div>
<div class='progress-msg'>[14:58:27] <b>CREATED</b> `Window 1` `Listing` (ID: 1637)</div>
<div class='progress-msg'>[14:58:27] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:58:27] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:58:27] ---</div>
<div class='progress-msg'>[14:58:27] Record #2</div>
<div class='progress-msg'>[14:58:27] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:58:27] Combine all data for post `Window 2 Toronto`...</div>
<div class='progress-msg'>[14:58:27] Find corresponding article among previously imported for post `Window 2 Toronto`...</div>
<div class='progress-msg'>[14:58:27] Duplicate post was found for post Window 2 Toronto with unique key `import 2020-27-1`...</div>
<div class='progress-msg'>[14:58:27] <b>SKIPPED</b>: Previously imported record found for `Window 2 Toronto`</div>
<div class='progress-msg'>[14:58:27] ---</div>
<div class='progress-msg'>[14:58:27] Record #3</div>
<div class='progress-msg'>[14:58:27] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:58:27] Combine all data for post `Windows 3 Vankuver`...</div>
<div class='progress-msg'>[14:58:27] Find corresponding article among previously imported for post `Windows 3 Vankuver`...</div>
<div class='progress-msg'>[14:58:27] Duplicate post was found for post Windows 3 Vankuver with unique key `import 2020-27-1`...</div>
<div class='progress-msg'>[14:58:27] <b>SKIPPED</b>: Previously imported record found for `Windows 3 Vankuver`</div>
<div class='progress-msg'>[14:58:27] Cleaning temporary data...</div>
