.elementor-222 .elementor-element.elementor-element-d5a4363:not(.elementor-motion-effects-element-type-background), .elementor-222 .elementor-element.elementor-element-d5a4363 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#E5E5E5;}.elementor-222 .elementor-element.elementor-element-d5a4363{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:50px 0px 50px 0px;}.elementor-222 .elementor-element.elementor-element-d5a4363 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-222 .elementor-element.elementor-element-c32415f .elementor-heading-title{color:#2E343B;font-family:"SofiaProRegular", Sans-serif;font-weight:500;}.elementor-222 .elementor-element.elementor-element-3d834c8{text-align:justify;color:#3B4247;font-family:"SofiaProLight", Sans-serif;font-size:14px;font-weight:400;line-height:1.8em;}.elementor-222 .elementor-element.elementor-element-8403fa6 .elementor-button{font-family:"SofiaProLight", Sans-serif;font-size:16px;font-weight:500;text-transform:uppercase;background-color:#6D4D65;padding:20px 45px 20px 45px;}.elementor-222 .elementor-element.elementor-element-8403fa6 .elementor-button:hover, .elementor-222 .elementor-element.elementor-element-8403fa6 .elementor-button:focus{background-color:#000000;}/* Start Custom Fonts CSS */@font-face {
	font-family: 'SofiaProRegular';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://preprod.curbmatch.com/wp-content/uploads/2020/11/SofiaProRegular_162a16fe.eot');
	src: url('https://preprod.curbmatch.com/wp-content/uploads/2020/11/SofiaProRegular_162a16fe.eot?#iefix') format('embedded-opentype'),
		url('https://preprod.curbmatch.com/wp-content/uploads/2020/11/SofiaProRegular.woff') format('woff'),
		url('https://preprod.curbmatch.com/wp-content/uploads/2020/11/SofiaProRegular.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'SofiaProLight';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://preprod.curbmatch.com/wp-content/uploads/2020/11/SofiaProLight_162a16fe.eot');
	src: url('https://preprod.curbmatch.com/wp-content/uploads/2020/11/SofiaProLight_162a16fe.eot?#iefix') format('embedded-opentype'),
		url('https://preprod.curbmatch.com/wp-content/uploads/2020/11/SofiaProLight.woff') format('woff'),
		url('https://preprod.curbmatch.com/wp-content/uploads/2020/11/SofiaProLight.ttf') format('truetype');
}
/* End Custom Fonts CSS */