.elementor-kit-206{--e-global-color-primary:#6EC1E4;--e-global-color-secondary:#54595F;--e-global-color-text:#7A7A7A;--e-global-color-accent:#61CE70;--e-global-color-13c33af:#FFFFFF;--e-global-color-2adbba3:#593A53;--e-global-typography-primary-font-family:"SofiaProRegular";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"SofiaProMedium";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"SofiaProRegular";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"SofiaProBold";--e-global-typography-accent-font-weight:500;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.elementor-widget:not(:last-child){margin-bottom:20px;}{}h1.entry-title{display:var(--page-title-display);}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}}@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'SofiaProRegular';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://preprod.curbmatch.com/wp-content/uploads/2020/11/SofiaProRegular_162a16fe.eot');
	src: url('https://preprod.curbmatch.com/wp-content/uploads/2020/11/SofiaProRegular_162a16fe.eot?#iefix') format('embedded-opentype'),
		url('https://preprod.curbmatch.com/wp-content/uploads/2020/11/SofiaProRegular.woff') format('woff'),
		url('https://preprod.curbmatch.com/wp-content/uploads/2020/11/SofiaProRegular.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'SofiaProMedium';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://preprod.curbmatch.com/wp-content/uploads/2020/11/SofiaProRegular_162a16fe.eot');
	src: url('https://preprod.curbmatch.com/wp-content/uploads/2020/11/SofiaProRegular_162a16fe.eot?#iefix') format('embedded-opentype'),
		url('https://preprod.curbmatch.com/wp-content/uploads/2020/11/SofiaProMedium.woff') format('woff'),
		url('https://preprod.curbmatch.com/wp-content/uploads/2020/11/SofiaProMedium.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'SofiaProBold';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://preprod.curbmatch.com/wp-content/uploads/2020/11/SofiaProBold_162a16fe.eot');
	src: url('https://preprod.curbmatch.com/wp-content/uploads/2020/11/SofiaProBold_162a16fe.eot?#iefix') format('embedded-opentype'),
		url('https://preprod.curbmatch.com/wp-content/uploads/2020/11/SofiaProBold.woff') format('woff'),
		url('https://preprod.curbmatch.com/wp-content/uploads/2020/11/SofiaProBold.ttf') format('truetype');
}
/* End Custom Fonts CSS */