<div class='progress-msg'>Sat, 30 Jan 2021 19:07:38 +0000</div>
<div class='progress-msg'>[19:07:38] Composing titles...</div>
<div class='progress-msg'>[19:07:38] Composing excerpts...</div>
<div class='progress-msg'>[19:07:38] Composing duplicate indicators...</div>
<div class='progress-msg'>[19:07:38] Composing authors...</div>
<div class='progress-msg'>[19:07:38] Composing slugs...</div>
<div class='progress-msg'>[19:07:38] Composing menu order...</div>
<div class='progress-msg'>[19:07:38] Composing contents...</div>
<div class='progress-msg'>[19:07:38] Composing dates...</div>
<div class='progress-msg'>[19:07:38] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[19:07:38] Composing terms for `Regions` taxonomy...</div>
<div class='progress-msg'>[19:07:38] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[19:07:38] Composing terms for `Custom Taxonomy: Car Brand` taxonomy...</div>
<div class='progress-msg'>[19:07:38] Composing terms for `Custom Taxonomy: Vacancy type` taxonomy...</div>
<div class='progress-msg'>[19:07:38] Composing terms for `Custom Taxonomy: Qualification` taxonomy...</div>
<div class='progress-msg'>[19:07:38] Composing terms for `Custom Taxonomy: Salary` taxonomy...</div>
<div class='progress-msg'>[19:07:38] Composing custom parameters...</div>
<div class='progress-msg'>[19:07:38] Composing URLs for images...</div>
<div class='progress-msg'>[19:07:38] Composing URLs for attachments files...</div>
<div class='progress-msg'>[19:07:38] Composing post comments...</div>
<div class='progress-msg'>[19:07:38] Composing unique keys...</div>
<div class='progress-msg'>[19:07:38] Processing posts...</div>
<div class='progress-msg'>[19:07:38] Data parsing via add-ons...</div>
<div class='progress-msg'>[19:07:39] ---</div>
<div class='progress-msg'>[19:07:39] Record #1</div>
<div class='progress-msg'>[19:07:39] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[19:07:39] Combine all data for post `Door for entrance`...</div>
<div class='progress-msg'>[19:07:39] Find corresponding article among previously imported for post `Door for entrance`...</div>
<div class='progress-msg'>[19:07:39] Duplicate post wasn't found with unique key `import 2020-27-1`...</div>
<div class='progress-msg'>[19:07:39] Applying filter `pmxi_article_data` for `Door for entrance`</div>
<div class='progress-msg'>[19:07:39] <b>CREATING</b> `Door for entrance` `Listing`</div>
<div class='progress-msg'>[19:07:39] Associate post `Door for entrance` with current import ...</div>
<div class='progress-msg'>[19:07:39] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[19:07:39] - Searching for existing image `https://preprod.curbmatch.com/wp-content/uploads/listing-uploads/logo/2020/11/android-icon-96x96-1.png` by URL...</div>
<div class='progress-msg'>[19:07:39] - Searching for existing image `https://preprod.curbmatch.com/wp-content/uploads/listing-uploads/logo/2020/11/android-icon-96x96-1.png` by `_wp_attached_file` `android-icon-96x96-1.png`...</div>
<div class='progress-msg'>[19:07:40] - Existing image was found by `_wp_attached_file` ...</div>
<div class='progress-msg'>[19:07:40] - Searching for existing image `https://preprod.curbmatch.com/wp-content/uploads/2020/12/freel.jpg` by `_wp_attached_file` `freel.jpg`...</div>
<div class='progress-msg'>[19:07:40] - Existing image was found by `_wp_attached_file` ...</div>
<div class='progress-msg'>[19:07:40] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[19:07:40] - Custom field `_claimed` will be updated with value `0` for post `Door for entrance` ...</div>
<div class='progress-msg'>[19:07:40] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[19:07:40] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[19:07:40] - Custom field `_featured` will be updated with value `0` for post `Door for entrance` ...</div>
<div class='progress-msg'>[19:07:40] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[19:07:40] <b>IMAGES:</b></div>
<div class='progress-msg'>[19:07:40] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[19:07:40] - Importing taxonomy `job_listing_category` ...</div>
<div class='progress-msg'>[19:07:40] - Attempted to create parent Listing job_listing_category `Doors`, duplicate detected. Importing Listing to existing `Doors` job_listing_category, ID 103, slug `doors` ...</div>
<div class='progress-msg'>[19:07:40] - Importing taxonomy `region` ...</div>
<div class='progress-msg'>[19:07:40] - Importing taxonomy `case27_job_listing_tags` ...</div>
<div class='progress-msg'>[19:07:40] - Importing taxonomy `custom-taxonomy-car-brand` ...</div>
<div class='progress-msg'>[19:07:40] - Importing taxonomy `job-vacancy-type` ...</div>
<div class='progress-msg'>[19:07:40] - Importing taxonomy `job-qualification` ...</div>
<div class='progress-msg'>[19:07:40] - Importing taxonomy `job-salary` ...</div>
<div class='progress-msg'>[19:07:40] <b>CREATED</b> `Door for entrance` `Listing` (ID: 1657)</div>
<div class='progress-msg'>[19:07:40] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[19:07:40] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[19:07:40] Cleaning temporary data...</div>
